/*
font-family: 'Indie Flower', cursive; <-don't use
font-family: 'Josefin Sans', sans-serif; <-don't use
font-family: 'Coming Soon', cursive;
font-family: 'Short Stack', cursive;
*/

.body {
	background-color: #A4E3FF;
}

.main {
	min-width: 768px;
	max-height: auto;
	margin: auto;
	position: relative;
	text-align: center;
}

.titleBanner{
	font-family: 'Short Stack', cursive;
	font-weight: bolder;
	font-size: 30px;
	}

h1 {
	margin: 15px;
}

#topOfBoard {
	display: inline-block;
	border: 5px dotted black;
	background: rgba(255,255,255,.7);
	border-radius: 30px;
	width: 500px;
	height: 90px;
	float: top;
	position: relative;
	padding-top: 5px; 
	margin-bottom: 10px;
}

.topOfMenu {
	display: inline-block; 
	width: 150px;
	height: 30px;
	text-align: center;
	vertical-align: center;
	line-height: 30px;
	font-family: 'Coming Soon', cursive;
	font-weight: bold;
	font-size: 20px;

}

.topMenu {
	display: inline-block; 
	width: 150px;
	height: 50px;
	text-align: center;
	vertical-align: center;
	line-height: 50px;
	font-family: 'Short Stack', cursive;
	font-size: 17px;

}

#playerTurnTop {
	display: inline-block;
	text-align: center;
	vertical-align: center;
}

#playerTurn {
	display: inline-block;
	border: 1px solid black;
	border-radius: 30px;
	text-align: center;
	vertical-align: center;
	font-weight: bolder;
}

#colorDisplayTop {
	display: inline-block;
	text-align: center;
	vertical-align: center;
}

#colorDisplay {
	display: inline-block;
	border: 1px solid black;
	border-radius: 30px;
	text-align: center;
	vertical-align: center;
	font-weight: bolder;
}

#stinkCountTop {
	display: inline-block;
	text-align: center;
	vertical-align: center;
}

#stinkCount {
	display: inline-block;
	border: 1px solid green;
	border-radius: 30px;
	text-align: center;
	vertical-align: center;
	font-weight: bolder;
}

#innerContainer {
	width: 768px;
	max-height: auto;
	margin: auto;
	position: relative;
	text-align: center;
}

.board {
	display: inline-block;
	border: 1px solid blue;
	width: 500px;
	margin: auto;
	padding: 5px;
	position: relative;
	text-align: center;
	float: center;
}

.cells {
	border-radius: 50%;
	display: inline-block;
/*	border: 1px solid black; */
	height: 100px;
	width: 100px;
	margin: 5px;
	text-align: center;
	vertical-align: center;
	line-height: 100px;
}

.container {
	display: inline-block;
	height: auto;
	width: 100px;
	position: relative;
	text-align: center;
	vertical-align: center;
}

.score {
    display: inline-block;
    border-radius: 30px;
    border: 1px solid black;
    height: 50px;
    width: 105px;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
    word-wrap: break-word;
    overflow: auto;
    margin-bottom: 10px;
}

.player {
	font-family: 'Short Stack', cursive;
	font-weight: bold;
}

.p1 {
	background-color: #90EE90;
}

.p2 {
	background-color: #FF8C00;
}

.collect {
	font-family: 'Coming Soon', cursive;
	font-weight: bold;
}

#container1 {
	float: left;
}

#container2 {
	float: right;
}

#start {
	font-family: 'Short Stack', cursive;
	color: #8B0000;
	font-weight: bold;
	font-size: 30px;
	display: inline-block;
	margin-bottom: 10px;
	background-color: #F08080;
	border: 5px dotted #B22222;
	border-radius: 30px;
	width: 150px;
	height: 40px;
	padding-top: 3px; 
}

#howTo {
	display: inline-block;
}

#restart {
	display: inline-block;
}

.purple {
	background-color: purple;
	color: white;
}

.yellow {
	background-color: yellow;
	color: black;
}
.blue {
	background-color: blue;
	color: yellow;
}
.red {
	background-color: red;
	color: white;
}

#howToMessage {
    display: none;
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0 auto 0;
    top: -450px;
    border: solid 10px black;
    border-radius: 30px;
    background-color: #C0C0C0;
}

#noMatchMessage {
	display: none;
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0 auto 0;
    top: -450px;
    border: solid 10px black;
    border-radius: 30px;
    background-color: #C0C0C0;
}

#p1StinkMessage {
	display: none;
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0 auto 0;
    top: -450px;
    border: solid 10px black;
    border-radius: 30px;
    background-color: #C0C0C0;
}

#p2StinkMessage {
	display: none;
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0 auto 0;
    top: -450px;
    border: solid 10px black;
    border-radius: 30px;
    background-color: #C0C0C0;
}

#clearMessage {
	display: none;
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0 auto 0;
    top: -450px;
    border: solid 10px black;
    border-radius: 30px;
    background-color: #C0C0C0;
}
